In [1]:
!pip install -q pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/PEDE_PASSOS_DATASET_FIAP.csv', sep=';')

In [4]:
df.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,FASE_TURMA_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,...,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
0,Escola Pública,ALUNO-1,11,2,2H,Não,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ALUNO-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,Não,7.916665,5.0,Fase 2 (5º e 6º ano)
2,Escola Pública,ALUNO-3,12,2,3H,Não,7.856389666666666,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Escola Pública,ALUNO-4,10,2,1D,Não,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,...,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,Não,Não,8.055553,5.0,Fase 3 (7º e 8º ano)
4,Escola Pública,ALUNO-5,10,1,2M,Não,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,...,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,Não,Não,7.833337,5.0,Fase 3 (7º e 8º ano)

In [5]:
cols_2020 = [col for col in df.columns.to_list() if col.endswith('_2020') or col == 'NOME']
cols_2021 = [col for col in df.columns.to_list() if col.endswith('_2021') or col == 'NOME']
cols_2022 = [col for col in df.columns.to_list() if col.endswith('_2022') or col == 'NOME']

In [6]:
df2020 = df[cols_2020]
df2021 = df[cols_2021]
df2022 = df[cols_2022]

In [7]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  728 non-null    object
 1   NOME                           1349 non-null   object
 2   IDADE_ALUNO_2020               728 non-null    object
 3   ANOS_PM_2020                   728 non-null    object
 4   FASE_TURMA_2020                728 non-null    object
 5   PONTO_VIRADA_2020              702 non-null    object
 6   INDE_2020                      728 non-null    object
 7   INDE_CONCEITO_2020             728 non-null    object
 8   PEDRA_2020                     728 non-null    object
 9   DESTAQUE_IEG_2020              728 non-null    object
 10  DESTAQUE_IDA_2020              728 non-null    object
 11  DESTAQUE_IPV_2020              703 non-null    object
 12  IAA_2020                       728 non-null    object
 13  IEG_2020                       728 non-null    object
 14  IPS_2020                       728 non-null    object
 15  IDA_2020                       728 non-null    object
 16  IPP_2020                       728 non-null    object
 17  IPV_2020                       728 non-null    object
 18  IAN_2020                       728 non-null    object
dtypes: object(19)
memory usage: 200.4+ KB

In [8]:
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NOME                           1349 non-null   object
 1   FASE_2021                      686 non-null    float64
 2   TURMA_2021                     686 non-null    object
 3   INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    object
 4   SINALIZADOR_INGRESSANTE_2021   686 non-null    object
 5   PEDRA_2021                     686 non-null    object
 6   INDE_2021                      686 non-null    object
 7   IAA_2021                       686 non-null    float64
 8   IEG_2021                       686 non-null    float64
 9   IPS_2021                       686 non-null    float64
 10  IDA_2021                       686 non-null    float64
 11  IPP_2021                       686 non-null    float64
 12  REC_EQUIPE_1_2021              686 non-null    object
 13  REC_EQUIPE_2_2021              686 non-null    object
 14  REC_EQUIPE_3_2021              686 non-null    object
 15  REC_EQUIPE_4_2021              686 non-null    object
 16  PONTO_VIRADA_2021              686 non-null    object
 17  IPV_2021                       686 non-null    float64
 18  IAN_2021                       686 non-null    float64
 19  NIVEL_IDEAL_2021               686 non-null    object
 20  DEFASAGEM_2021                 686 non-null    float64
dtypes: float64(9), object(12)
memory usage: 221.4+ KB